@{
    ViewBag.Title = "View1";
    Layout = null;
    CrowdFundingShop.Model.JsIncomeModel entity = ViewBag.entity as CrowdFundingShop.Model.JsIncomeModel;
}
<!DOCTYPE html>
<!-- saved from url=(0046)https://secure.ctrip.com/webapp/payment2/index
-->
<html style="font-size: 24.1875px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        一元易购物，用户付款
    </title>
    <meta charset="utf-8">
    <meta name="description" content="支付">
    <meta name="keywords" content="支付">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <link rel="stylesheet" href="/Content/css/paymain.css">
    <link rel="stylesheet" href="/Content/css/pay.css">
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
        var useragent = navigator.userAgent.toLowerCase();
        if (useragent.indexOf("micromessenger") <= 0) {
            window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=noauth&connect_redirect=1#wechat_redirect";
        }
    </script>
</head>
<body class="gray" onselectstart="return false">
    <div id="headerview" style="height: 44px; visibility: visible;">
        <div class="cm-header cm-header--no-right" id="ui-view-14" style="">
            <span class=" cm-header-icon fl  js_back">
                <i class="icon-back">
                </i>
            </span>
            <h1 class="cm-page-title" style="padding-right:40px">
                订单支付
            </h1>
        </div>
    </div>
    <div id="main">
        <div class="main-frame">
            <div class="main-viewport">
                <div id="client_id_viewport_1_1454470873887" page-url="index" data-view-name="index"
                     style="">
                    <article class="cont_wrapnew" style="margin-top: 0px;">
                        <div class="payable">
                            <div class="p0_15">
                                <div id="order_title" class="font16 ellips">
                                    @ViewBag.body
                                </div>
                                <div id="sub_order_title" class="cgray ellips_line2 font13">
                                    订单编号： @ViewBag.orderno
                                </div>
                            </div>
                            <div class="relative plr_15 pay-c666 mb5" id="c_payment_index_amount">
                                应付总额：
                                <div style="display:inline">
                                    <i class="corange">
                                        ￥
                                        <span class="ft18">
                                            @Convert.ToInt32(ViewBag.total_fee)
                                        </span>
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div id="c_pay_index_lpk" style="display: none;" class="mb10">
                        </div>
                        <div class="pay-c666 plr_15 mb5" id="order_leaveamount_p" style="display:none">
                        </div>
                        <ul id="paywaylist_ul" class="payicon mb10 pay_autowidth dsp_none" style="display: block;">
                            @*<li id="c_payment_global_bankcard" data-defaultsort="3" data-sort="1">
                                  <i class="pay_2 i_box">
                                  </i>
                                  <div class="r_content padtop9 padtop9">
                                    银联支付
                                  </div>
                                </li>*@
                            <li id="wxpay" data-defaultsort="1" data-sort="3"
                                class="">
                                <i class="pay_3 i_box">
                                </i>
                                <div class="r_content padtop9 pt3 padtop9">
                                    <a href="javascript:void(0)">微信支付</a>
                                    @* <em class="payicon_tips3">
                                          推荐
                                        </em>*@
                                </div>
                            </li>
                            @*   <li id="c_payment_global_mobileali" data-defaultsort="4" data-sort="4"
                                class="opacity_9">
                                  <i class="pay_4 i_box">
                                  </i>
                                  <div class="r_content padtop9 padtop9">
                                    支付宝支付
                                  </div>
                                </li>*@
                        </ul>
                    </article>
                </div>
            </div>
            <div class="main-state">
            </div>
        </div>
    </div>
    <div id="footer">
    </div>
</body>
</html>
<script src="~/Resources/wap/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".js_back").click(function () {
            window.history.go(-1);
        });

        $("#wxpay").click(function () {
            callpay();
        });
    });
</script>

<script type="text/javascript">
    wx.checkJsApi({
        jsApiList: ['chooseImage'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
        success: function (res) {
            alert(res.checkResult);
            // 以键值对的形式返回，可用的api值true，不可用为false
            // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
        }
    });
    //通过config接口注入权限验证配置
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: "@entity.appId", // 必填，公众号的唯一标识
        timestamp: "@entity.timeStamp", // 必填，生成签名的时间戳
        nonceStr: "@entity.nonceStr", // 必填，生成签名的随机串
        signature: "@entity.paySign",// 必填，签名
        jsApiList: ['checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'hideMenuItems',
        'showMenuItems',
        'hideAllNonBaseMenuItem',
        'showAllNonBaseMenuItem',
        'translateVoice',
        'startRecord',
        'stopRecord',
        'onRecordEnd',
        'playVoice',
        'pauseVoice',
        'stopVoice',
        'uploadVoice',
        'downloadVoice',
        'chooseImage',
        'previewImage',
        'uploadImage',
        'downloadImage',
        'getNetworkType',
        'openLocation',
        'getLocation',
        'hideOptionMenu',
        'showOptionMenu',
        'closeWindow',
        'scanQRCode',
        'chooseWXPay',
        'openProductSpecificView',
        'addCard',
        'chooseCard',
        'openCard'] // 必填，需要使用的JS接口列表
    });
    //通过ready接口处理成功验证
    wx.ready(function () {
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后
        document.querySelector('#wxpay').onclick = function () {
            wx.chooseWXPay({
                appId: "@entity.appId",
                timestamp: "@entity.timeStamp", // 支付签名时间戳 注意这里的s 文档新版大写 但是我的小写才好使
                nonceStr: "@entity.nonceStr",// 支付签名随机串
                package: "@entity.package", // 统一支付接口返回的package包
                signType: "MD5", // 签名方式，'MD5'
                paySign: "@entity.paySign", // 支付签名
                success: function (res) {
                    alert(res.errMsg);
                    if (res.errMsg == "chooseWXPay:ok") {
                        alert("支付成功");
                        location.href = "/order/index";
                        // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                    }
                    else if (res.errMsg == "chooseWXPay:cancel") {
                        alert("cancel");
                        // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                    }
                    else if (res.errMsg == "chooseWXPay:fail") {
                        alert("fail");
                        // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                    }
                }
            });
        };
    });
</script>



@*<script type="text/javascript">
        function jsApiCall() {
            alert("@entity.timeStamp");
            WeixinJSBridge.invoke('getBrandWCPayRequest', {
                "appId": "@entity.appId",
                "timeStamp": "@entity.timeStamp",
                "nonceStr": "@entity.nonceStr",
                "package": "@entity.package",
                "signType": "MD5",
                "paySign": "@entity.paySign"
            }, function (res) {
                if (res.err_msg == "get_brand_wcpay_request:ok") {
                    window.location = "/pay/PayAction";
                }
                else if (res.err_msg == "get_brand_wcpay_request:cancel") {
                    alert("您取消了支付!");
                }
                else {
                    alert(res.err_msg);
                    alert("您支付失败了!");
                }
            });
        };
        function callpay() {
            if (typeof WeixinJSBridge == "undefined") {
                if (document.addEventListener) {
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }
                else if (document.attachEvent) {
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }
            else {
                jsApiCall();
            }
        };
    </script>*@