@{
    Layout = null;
}
@model CrowdFundingShop.Model.GoodsBaseInfo
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改商品</title>
    <meta name="description" content="修改商品">
    <meta name="keywords" content="修改商品">
    @Html.Partial("~/Views/Common/SharePart.cshtml")
</head>
<body>
    <header class="am-topbar admin-header">
        @Html.Partial("~/Views/Common/TopBar.cshtml")
    </header>
    <div class="am-cf admin-main">
        <!-- content start -->
        <div class="admin-content">
            <ol class="am-breadcrumb">
                <li><a href="~/Home/IndexPage" class="am-icon-home">首页</a></li>
                <li><a href="~/GoodsManager/IndexPage">商品管理</a></li>
                <li class="am-active">修改商品</li>
            </ol>
            <hr />
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
                    <div class="am-container am-hide-sm-only" style=" height: 50px; "></div>
                </div>
                <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
                    <form class="am-form am-form-horizontal" id="formAddUserInfo">
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label"> 修改商品信息</label>
                            <div class="am-u-sm-9">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="goods-name" class="am-u-sm-3 am-form-label"> 类别：</label>
                           <span>@(Model != null ? Model.CategoryName : "")</span>
                        </div>
                        <div class="am-form-group">
                            <label for="goods-name" class="am-u-sm-3 am-form-label">商品名：</label>
                            <div class="am-u-sm-9">
                                <span>@(Model != null ? Model.GoodsName : "")</span>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="goods-name" class="am-u-sm-3 am-form-label"> 商品描述：</label>
                            <div class="am-u-sm-9">
                                <span>@(Model != null ? Model.Describe : "")</span>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="goods-name" class="am-u-sm-3 am-form-label">价格：</label>
                            <div class="am-u-sm-9">
                                <span style="">@(Model != null ? Model.Price : "")</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="goods-name" class="am-u-sm-3 am-form-label"> 展示图片：</label>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label"></label>
                            <div class="am-u-sm-9">
                                <div id="divImages">
                                    <img id="userIcon" style="max-height: 150px;" class="am-img-circle am-img-thumbnail" src="@(Model.ShowIcons.Replace("localhost", "localhost:39356"))" alt="" /> &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="goods-name" class="am-u-sm-3 am-form-label"> 详情页图片：</label>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label"></label>
                            <div class="am-u-sm-9">
                                <div id="divImages1">
                                    @foreach (var item in Model.DetailIcons.Split(','))
                                    {
                                        <img id="userIcon" style="max-height: 150px;" class="am-img-circle am-img-thumbnail" src="@(item.Replace("localhost", "localhost:39356"))" alt="" />
                                    } &nbsp;
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- content end -->
    </div>
    @Html.Partial("~/Views/Common/FootPart.cshtml")
    @Html.Partial("~/Views/Common/TipsTool.cshtml")
</body>
</html>
<script src="~/Resources/js/ajaxfileupload.js"></script>
<script>
    var ShowIcons = $("#hdShowIcons").val();
    var DetailIcons = $("#hdDetailIcons").val();

    $(function () {
        bindFunction();
    });

    // 绑定事件
    function bindFunction() {
        //label标签字体细化
        $("label").css("font-weight", "normal");
        //初始化下拉列表
        LoadCategory(0, 1);
        $("#slctParent").on("change", function () {
            LoadCategory($(this).val(), 2);
        });
    }
    //1查第一级别 2查第二级别
    function LoadCategory(parentID, type) {
        $.get('@Url.RouteUrl(new { controller = "GoodsManager", action = "GetCategoryInfo" })', { ParentID: parentID }, function (result) {
            //清除第二级列表
            $('#goods-category option').remove();
            if (result) {
                if (type == 1) {
                    $('#slctParent option').remove();
                    if (result.Rows != null && result.Rows.length > 0) {
                        var selected = "";
                        for (var i = 0; i < result.Rows.length; i++) {
                            var row = result.Rows[i];
                            if (row.ID == "@Model.ParentId") {
                                selected = "selected=selected";
                            }
                            else {
                                selected = "";
                            }
                            $('#slctParent').append("<option id='opParent" + i + "' value='" + row.ID + "' " + selected + ">" + row.CategoryName + "</option>")
                        }
                    }
                }
                else if (type == 2) {
                    if (result.Rows != null && result.Rows.length > 0) {
                        var row = result.Rows[i];
                        var selected = "";
                        for (var i = 0; i < result.Rows.length; i++) {
                            var row = result.Rows[i];
                            if (row.ID == "@Model.Category") {
                                selected = "selected=selected";
                            }
                            else {
                                selected = "";
                            }
                            $('#goods-category').append("<option id='opParent" + i + "' value='" + row.ID + "' " + selected + ">" + row.CategoryName + "</option>")
                        }
                    }
                }
            }
        }, 'json');
    }
</script>
